
[Desktop Entry]
Name=Wikipad
Comment=Text Editor Wiki Markup
GenericName=Text Editor
GenericName[ar]=محرر نصوص
GenericName[ast]=Editor de testu
GenericName[bg]=Текстов редактор
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[de]=Textbearbeitung
GenericName[el]=Επεξεργαστής Κειμένου
GenericName[en_AU]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[es]=Editor de texto
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך תמלילים
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[id]=Penyunting Teks
GenericName[is]=Textaritill
GenericName[it]=Editor di Testo
GenericName[ja]=テキストエディター
GenericName[kk]=Мәтін түзетушісі
GenericName[ko]=문서 편집기
GenericName[lt]=Teksto redaktorius
GenericName[ms]=Penyunting Teks
GenericName[nb]=Tekstbehandler
GenericName[nl]=Tekstbewerker
GenericName[nn]=Teksthandsamingsprogram
GenericName[oc]=Editor de tèxte
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sr]=Уређивач текста
GenericName[sv]=Textredigerare
GenericName[te]=పాఠ్య కూర్పకం
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈ
GenericName[uk]=Текстовий редактор
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯程式
Exec=wikipad %F
Icon=accessories-text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
